body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.loading {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0.25em;
}

#controls-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.15em;
}

#visualization-container {
    flex-grow: 1;
}

#plotly-container {
    display: flex;
    height: 100%;
    width: 100%;
}

#map-container, #chart-container {
    height: 100%;
    width: 100%;
}


#map, #chart {
    height: 100%;
    width: 100%;
}

.split-view {
    width: 50%;
}

.full-width {
    width: 100%;
}

.js-plotly-plot, .plot-container .plotly {
    height: 100%;
    width: 100%;
    padding: 0;
}
