#controls-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.header-container {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0.25em;
}
